<ion-view view-title="ingestionAndWater">
    <div id="mainContent" style="background: #FFF; position: absolute; width: 100%;">
     <div id="main" style = "height:90%;"></div>
     <table style="position: absolute; width: 100%;height: 35px;">
     	<tr>
     		<td style="width: 50%;height: 100%; background: #439AFC; color: #FFF;" id="ingestionBtn" class="middle" ng-click="chooseType('ingestion')"><p style="position: relative; top: 6px; color: #FFF;" align="center">采食</p></td>
     		<td style="width: 50%;height: 100%; background: #439AFC; color: #FFF;" id="waterBtn" class="middle" ng-click="chooseType('water')"><p style="position: relative; top: 6px; color: #FFF;" align="center">饮水</p></td>
     	</tr>
     </table>
    </div>
</ion-view>