  <ion-view> 
   <div class="bar bar-header bar-balanced"> 
    <a class="button icon ion-chevron-left button-clear" ng-hide="backBtn" ng-click="backTable()"></a>
    <a class="button button-clear" ng-hide="cancelBtn" ng-click="cancelEvent()">取消</a>
    <h1 class="title"> 查看员工信息 </h1> 
    <a class="button button-clear" ng-hide="visible" ng-click="startEdit()">编辑</a>
   </div> 
   <ion-content class="has-header"> 
    <div class="list">
    <label class="item item-input"> <span class="input-label fontColor">姓名</span> <i class="icon ion-ios-arrow-forward"></i> <input type="text" ng-model="tempVar.userTemp.name" style = "text-align:right; "/> </label> 

    <label class="item item-input" ng-click="clickPhone()"> <span class="input-label fontColor">手机号码</span> <i class="icon ion-ios-arrow-forward"></i>
  <input readonly ="readonly" type="text" ng-model="tempVar.userTemp.tele" style = "text-align:right;background-color:white; "/>
  </label>
    

    <label class="item item-input item-select"> 
        <span class="input-label fontColor">角色</span>
        <i class="icon ion-ios-arrow-forward"></i> 
        <select ng-model="tempVar.userTemp.role" ng-change="JudgeRole()" style="position: absolute;right: 0%;top: 0%;width: 40%;height: 100%;text-align: right;border:solid 1px  #fff;color: #000; direction: rtl; -webkit-appearance: none;background:#FFF;"> 
          <option value="">请选择</option> 
          <option value="{{key}}" ng-repeat="(key,val) in myConfig.role" ng-selected="key==tempVar.userTemp.role">{{val}}</option> 
        </select>
    </label>

    <label class="item item-input item-select"> 
    <span class="input-label fontColor">权限</span>
     <i class="icon ion-ios-arrow-forward"></i> 
     <select ng-model="tempVar.userTemp.author_id"  style="position: absolute;right: -2%;top: 0%;width: 40%;height: 100%;text-align: right;border:solid 1px  #fff;color: #000; direction: rtl; -webkit-appearance: none;background:#FFF;"> 
        <option value="pleaseSelect">请选择</option> 
        <option value        =  "{{key}}" 
                ng-repeat    =  "(key,val) in permissionList"
                ng-selected  =  "key==tempVar.userTemp.author_id">
                {{val}}
        </option> 
    </select> 
   </label>
     

     <div class="list" ng-show="houseAffiliation"> 
      <div class="item item-divider">
        请选择所属栋号 
      </div> 
      
      <ion-checkbox ng-repeat="item in devList"
                      ng-model="item.checked" 
                      ng-checked="item.checked"
                      ng-change="judgeHousChange()">
          {{ item.text }}
        </ion-checkbox>
     </div>


     <br /> 
     <br /> 
     <br /> 
    </div>

    <img src="img/newFolder/public/helpImg.png" height="25" width="25" style="position:absolute;top: 158px; left:90px;z-index:99;" on-tap="openFun()"/> 
    



      <div style="  
                  position:absolute;
                  left:0px;
                  top:0px;
                  width:100%;
                  height:100%;
                  z-index:2;
                  background:transparent;"
           ng-hide="sheerDiv"
           ng-click="alert()">
      </div>

    <br /> 
    <div class="middle">  
     <a class="button  button-balanced saveBtn" ng-show="visible" ng-click="saveUpdate()" nav-transition="android">保   存</a> 
    </div>
    <br /> 
    <br /> 
   </ion-content>
  </ion-view>







<script id="useHelp.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
    <a class="button" ng-click="closeFun()">返回</a>
      <h1 class="title">
        帮助
      </h1>
    </ion-header-bar>
    <ion-content style="background: #F7F7F7;">

      <table style="position: relative; top: 20px; width: 100%;height: 50%;">
        <tr style="background: #33cd5f; color: #FFF;">
          <td style="font-size: 10px;border:solid 1px #FFF; width: 42px;"><span style="position: relative; left: 45%;">权限</span><br><span style="">级别</span></td>
          <td align="center" style="border:solid 1px #FFF;">我的<br>设置</td>
          <td align="center" style="border:solid 1px #FFF;">入雏<br>出栏</td>
          <td align="center" style="border:solid 1px #FFF;"><p style="position: relative; top: 12px;">日志</p></td>
          <td align="center" style="border:solid 1px #FFF;"><p style="position: relative; top: 12px;">结算</p></td>
          <td align="center" style="border:solid 1px #FFF;"><p style="position: relative; top: 12px;">查看</p></td>
        </tr>
        <tr style="color: #5D5D5D;">
          <td style="border:solid 1px #E3E3E3; background: #FFF;height: 42px;" align="center"><p style="position: relative; top: 3px;">超级</p></td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
        </tr>
        <tr style="color: #5D5D5D;">
          <td style="border:solid 1px #E3E3E3; background: #FFF;height: 42px;" align="center"><p style="position: relative; top: 3px;">1级</p></td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
        </tr>
        <tr style="color: #5D5D5D;">
          <td style="border:solid 1px #E3E3E3; background: #FFF;height: 42px;" align="center"><p style="position: relative; top: 3px;">2级</p></td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 15px;height: 15px; top: 0px;" src="img/newFolder/basicInfo/userInfo/selected.png">
            <p style="font-size: 8px;position: relative;top: -4px;height: 10px;width: 40px;">除效益分析</p>
          </td>
        </tr>
        <tr style="color: #5D5D5D;">
          <td style="border:solid 1px #E3E3E3; background: #FFF;height: 42px;" align="center"><p style="position: relative; top: 3px;">3级</p></td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 15px;height: 15px; top: 0px;" src="img/newFolder/basicInfo/userInfo/selected.png">
            <p style="font-size: 8px;position: relative;top: -4px;height: 10px;width: 40px;">除效益分析</p>
          </td>
        </tr>

        <tr style="color: #5D5D5D;">
          <td style="border:solid 1px #E3E3E3; background: #FFF;height: 42px;" align="center"><p style="position: relative; top: 3px;">4级</p></td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/unselected.png">
          </td>
          <td style="border:solid 1px #E3E3E3; background: #FFF;" align="center">
            <img style="position: relative;width: 30px;height: 30px; top: 12px;" src="img/newFolder/basicInfo/userInfo/selected.png">
          </td>
        </tr>

      </table>
      
      <div style="position: absolute; top: 360px; width: 100%; height: 70%; background: #FFF; border: solid 1px #E3E3E3; color: #A9A9A9;">
        <p style="position: relative; top: 5px;">
        &nbsp;&nbsp;注：<img style="position: relative;width: 15px;height: 15px; top: 3px;" src="img/newFolder/basicInfo/userInfo/unselectedSmall.png">没有操作权限<img style="position: relative;width: 15px;height: 15px; top: 3px;" src="img/newFolder/basicInfo/userInfo/selectedSmall.png">有操作权限
        </p>
        <p style="text-indent:2em;margin-top:1rem;">超级：拥有所有的操作权限</p>
        <p style="text-indent:2em;margin-top:1rem;">1级：除“我的设置”外的所有操作权限</p>
        <p style="text-indent:2em;margin-top:1rem;">2级：可以录全部栋舍的日志</p>
        <p style="text-indent:2em;margin-top:1rem;">3级：只有查看功能，不能查看效益分析</p>
        <p style="text-indent:2em;margin-top:1rem;">4级：只有查看功能</p>
      </div>


      <div style="width: 54px;height: 1px;background: #FFF;transform: rotate(45deg);position: absolute;top: 42px;left: -5px;"></div>



    </ion-content>
  </ion-modal-view>
</script>  