<!-- <ion-view>
<div class="bar bar-header bar-balanced">
<a class="button icon ion-chevron-left button-clear" ui-sref="home"></a>
    <h1 class="title" id = "mainTitle">
      模拟算账(方案一)
    </h1>
  <button id="changer" class="button"  ng-click="selectGuige()">方案二</button>
</div>
    <ion-content class="has-header">
      <div class="list"> 
  <div class="item item-divider">
        主要指标
      </div> 
     
    
    <label class="item item-input"> 
        <span class="input-label fontColor">进鸡数</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" ng-model = "simulateData.simulateDataTemp.inputChickens" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">只</p>
      </label>
    
    
  
      <label class="item item-input"> 
        <span class="input-label fontColor">饲养天</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input  style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" ng-model = "simulateData.simulateDataTemp.feedDays" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">天</p>
      
      </label>

      
      <label class="item item-input"> 
        <span class="input-label fontColor">成活率</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(100)" style = "position:absolute; right: 4%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type="number" ng-model = "simulateData.simulateDataTemp.survival"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">％</p>
      </label>
    

    <label class="item item-input"> 
        <span class="input-label fontColor">只均重</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 7%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.weight"/>
            <p style="position: absolute; top:15px; right:1rem; width:2rem; height:1.5rem;">公斤</p>
      </label>  
    
  <label class="item item-input"> 
        <span class="input-label fontColor">料肉比</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(3)" style = "position:absolute; right: 0%; top:15%; text-align:right; " ng-blur="loseFoucus()" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.fcr"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;"></p>
      </label>


    <label class="item item-input"> 
        <span class="input-label fontColor">毛鸡价</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(3)" style = "position:absolute; right: 13%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.chickPrice"/>
            <p style="position: absolute; top:15px; right:1rem; width:3.5rem; height:1.5rem;">元/公斤</p>
      </label>
   
   <div class="item item-divider">
        成本预估
      </div> 
    
    
    

    <label class="item item-input"> 
        <span class="input-label fontColor">鸡苗价</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)"  style = "position:absolute; right: 11%; top:15%; text-align:right; " type      =  "number" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" ng-model = "simulateData.simulateDataTemp.smallChickPrice"/>
            <p style="position: absolute; top:15px; right:1rem; width:2.8rem; height:1.5rem;">元/羽</p>
      </label>  
    
  <label class="item item-input"> 
        <span class="input-label fontColor">饲料价</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(3)" style = "position:absolute; right: 13%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.feedPrice"/>
            <p style="position: absolute; top:15px; right:1rem; width:3.5rem; height:1.5rem;">元/公斤</p>
      </label>
    
    <label class="item item-input"> 
        <span class="input-label fontColor">药品疫苗</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.medicineMoney"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">元</p>
      </label> 

      <label class="item item-input"> 
        <span class="input-label fontColor">人&nbsp;&nbsp;&nbsp;&nbsp;工</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" ng-model = "simulateData.simulateDataTemp.manualMoney"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">元</p>
      </label>


      <label class="item item-input"> 
        <span class="input-label fontColor">其他费用</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" ng-model = "simulateData.simulateDataTemp.othersMoney"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">元</p>
      </label>
    
  
     <br /> 
    </div> 
      
    <br /> <br /> <br /> 
    </ion-content>
  
  <div class="tabs tabs-icon-top" style="background-color: #44CA65;border:solid 0px #FFF;">
    <p ng-click="doComp()"  style="color:#fff; position:relative; width:100%; top:0rem; font-size:16px;text-align:center;cursor:pointer;">查看结果</p>
   </div> 
  
</ion-view> -->

















<ion-view>
<div class="bar bar-header bar-balanced">
<a class="button icon ion-chevron-left button-clear" ui-sref="home"></a>
    <h1 class="title" id = "mainTitle">
      模拟算账(方案一)
    </h1>
  <button id="changer" class="button" ng-show = "originalButton"  ng-click="selectGuige()">方案二</button>
</div>
  

    <ion-content class="has-header">

      <div class="list"> 
      <div class="item item-text-wrap" style="font-size: 9pt; background: #f5f5f5;">
        <p style="color: #C7C6C7;">当市场行情波动较大时，模拟算账可以帮助您分析最佳的入雏或出栏时机，以获得较高收益。您可以输入两套方案，以便相互比较。</p> 
        <br>
        <div style="position: absolute; left: 5%; width: 128px;height: 25px; top: 81%; background: #f5f5f5; border-bottom: solid 1px #666;" ng-click="selectPlanStyle('plan1')" id="plan1">
          <p id="plan1Test" style="text-align:center;">方案1</p>
        </div>
        <div style="position: absolute; top: 65%;right: 5%; width: 128px;height: 25px; top: 81%; background: #f5f5f5; border-bottom: solid 1px #666;"  ng-click="selectPlanStyle('plan2')" id="plan2">
          <p id="plan2Test" style="text-align:center;">方案2</p>
        </div>
      </div>
  

<ion-list>
  <ion-item style="color: #C7C6C7;">
    请输入饲养计划
  </ion-item>
</ion-list>
    
    <label class="item item-input"> 
        <span class="input-label fontColor">进鸡数</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " type =  "number" ng-model = "simulateData.simulateDataTemp.inputChickens" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">只</p>
      </label>
      
      <label class="item item-input"> 
        <span class="input-label fontColor">成活率</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(100)" style = "position:absolute; right: 4%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type="number" ng-model = "simulateData.simulateDataTemp.survival"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">％</p>
      </label>
  
      <label class="item item-input"> 
        <span class="input-label fontColor">只均重</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 7%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.weight"/>
            <p style="position: absolute; top:15px; right:1rem; width:2rem; height:1.5rem;">公斤</p>
      </label>  

      <label class="item item-input"> 
        <span class="input-label fontColor">料肉比</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(3)" style = "position:absolute; right: 0%; top:15%; text-align:right; " ng-blur="loseFoucus()" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.fcr"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;"></p>
      </label>


  

      <label class="item item-input"> 
        <span class="input-label fontColor">饲养天</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input  style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" ng-model = "simulateData.simulateDataTemp.feedDays" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">天</p>
      
      </label>

      
      
    
<ion-list>
  <ion-item style="color: #C7C6C7;">
    请输入预测价格
  </ion-item>
</ion-list>
    
    <label class="item item-input"> 
        <span class="input-label fontColor">鸡苗价</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)"  style = "position:absolute; right: 11%; top:15%; text-align:right; " type      =  "number" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" ng-model = "simulateData.simulateDataTemp.smallChickPrice"/>
            <p style="position: absolute; top:15px; right:1rem; width:2.8rem; height:1.5rem;">元/羽</p>
      </label>  

      <label class="item item-input"> 
        <span class="input-label fontColor">饲料价</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(3)" style = "position:absolute; right: 13%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.feedPrice"/>
            <p style="position: absolute; top:15px; right:1rem; width:3.5rem; height:1.5rem;">元/公斤</p>
      </label>
  


    <label class="item item-input"> 
        <span class="input-label fontColor">毛鸡价</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(3)" style = "position:absolute; right: 13%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.chickPrice"/>
            <p style="position: absolute; top:15px; right:1rem; width:3.5rem; height:1.5rem;">元/公斤</p>
      </label>
   
   <ion-list>
  <ion-item style="color: #C7C6C7;">
    请输入预测费用
  </ion-item>
</ion-list>
  
    
    <label class="item item-input"> 
        <span class="input-label fontColor">药品疫苗</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" type      =  "number" ng-model = "simulateData.simulateDataTemp.medicineMoney"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">元</p>
      </label> 

      <label class="item item-input"> 
        <span class="input-label fontColor">人&nbsp;&nbsp;&nbsp;&nbsp;工</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" ng-model = "simulateData.simulateDataTemp.manualMoney"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">元</p>
      </label>


      <label class="item item-input"> 
        <span class="input-label fontColor">其他费用</span> 
          <i class="icon ion-ios-arrow-forward"></i> 
            <input ng-change="forageTotal(1)" style = "position:absolute; right: 4%; top:15%; text-align:right; " type      =  "number" onfocus="if(this.value==0)this.value='';" onblur="if(this.value=='')this.value=0;" ng-model = "simulateData.simulateDataTemp.othersMoney"/>
            <p style="position: absolute; top:15px; right:1rem; width:1.3rem; height:1.5rem;">元</p>
      </label>
    
  
     <br /> 
    </div> 
      
    <br /> <br />
    <table style="width: 100%;height: 40px;">
      <tr>
        <td style="width: 50%;">
          <a class="button  button-balanced saveBtn" style="position: relative;left: 5%; width: 90%;" ng-click="save()">保   存</a>
        </td>
        <td style="width: 50%;">
          <a class="button  button-balanced saveBtn" style="position: relative;left: 5%; width: 90%;" ng-click="doComp()">查看结果</a>
        </td>
      </tr>
    </table>
     <br /> 
    </ion-content>
  
</ion-view>