<ion-view>
<div class="bar bar-header bar-balanced">
  <a class="button icon ion-chevron-left button-clear" ui-sref="home"></a>
    <h1 class="title">
      关于
    </h1>
</div>
    <ion-content class="has-header" style="background: #F7F7F7;">
     <br />
      <ul class="list">
      
      
      
      
          <li class="item">
          <p class="rightArrow">
            <span style="font-size: 1.1rem; color: #000;">{{App_Version}}</span>
          </p>
          <p>
            <span style="font-size: 1.1rem; color: #000;">当前版本</span>
          </p>  
          </li>
          <li class="item" ng-hide="UpdateBtn">
          <p class="rightArrow">
            <a style="color:blue; text-decoration:underline;" ng-click="dlAPK()">
            <span style="font-size: 1.1rem;">检查更新</span>
            </a>
          </p>
          <p ng-click="queryVersion()" >
            <span style="font-size: 1.1rem; color: #000;">升  级</span>
          </p>
          </li>
      </ul>
      <ion-list>
        <ion-item class="item-icon-right" ng-click="setLinkView()">
            <p style="font-size: 1.1rem; color: #000;">如何使用</p>
         <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="chickenSignal()">
            <p style="font-size: 1.1rem; color: #000;">肉鸡的信号</p>
         <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list> 
      <br />
      <li class="item">
          <p>
            <span style="font-size: 1.1rem; color: #000;">农汇简介</span>
          </p>
          <p style="margin-top:1rem;margin-top:0.5rem;position: relative;font-size: 1rem;">
            上海农汇信息科技有限公司是一家专注农牧<br />行业互联网开发和信息化的全新高科技公司
          </p>  
      </li>
      <br />
      <li class="item">
          <p>
            <span style="font-size: 1.1rem; color: #000;">联系我们</span>
          </p>
          <p style="margin-top:0.5rem;position: relative;font-size: 1.1rem;">
            电话： 400 6233 007
          </p>
          <p style="margin-top:0.5rem;position: relative;font-size: 1.1rem;">
            邮件地址： cs@agnet.com.cn
          </p>
          <p style="margin-top:0.5rem;position: relative;font-size: 1rem;">
            地址： 上海漕河泾高新开发区田林路418号
          </p> 
          
      </li>
      <br />
      <!-- <li class="item">
        <p>
          <span style="font-size: 1.1rem; color: #000;">意见反馈</span>
        </p>
        <br />
          <textarea style=" width:100%; height:100px;border:solid 1px #C0C0C0; border-radius:5px; resize:none;" placeholder="您有什么意见或者建议，可以留言给我们，我们将尽快答复您，谢谢！"></textarea>
          <br />
          <div  style="position: relative;
                       left: -0.5%;
                       width: 100%;
                       height: 3rem;
                       background: #46AE58;
                       border-radius:5px; resize:none;" class="middle" ng-click="saveFun()">
              <p style="color:#FFF; font-size: 20px; position: relative; top:0.8rem;">保&nbsp;&nbsp;&nbsp;&nbsp;存</p>
          </div>
      </li> -->




    </ion-content>
</ion-view>