<ion-view>
<div class="bar bar-header bar-balanced">
<a class="button icon ion-chevron-left button-clear" ui-sref="dailyReport"></a>
    <h1 class="title">
      {{prodDailyData.title}}
    </h1>
<a class="button" ng-click="chooseType()">{{prodDailyData.dailyType}}</a>
</div>
    <ion-content class="has-header"  overflow-scroll="true" style="overflow: hidden;">
    <div style="width: 100%;height: 40px;background:#F5F5F5;">
      <div style="width:20%;height:100%;">
        <p style="position: relative; top:10px; color: black;" class="middle">{{prodDailyData.date}}</p>
      </div>
      <div style="position:relative;top:-40px;width:80%;height:100%;left:20%;">
        <p style="position: absolute; top:10px;right:20%;">
          栋舍号:
        </p>
            <select style="position: absolute;  
                           top:0px;  
                           right:0px; 
                           height:100%; 
                           width:15%;
                           background:transparent url(img/icon/clear_image.png) no-repeat;
                           border:solid 0px #FFF;"
                  ng-model="prodDailyData.selectHouse"
                  ng-change="judgeHouse()"> 
              <option value        =  "{{item}}" 
                      ng-repeat    =  "item in sparraw_user_temp.userinfo.houses"
                      ng-selected  =  "item.HouseId == prodDailyData.selectHouse.HouseId">
                      {{item.HouseName}}栋
              </option> 
            </select>
      </div>

    </div>
    <div ng-hide="toDayDiv" style="position: relative;height:85%;width:100%;">
      <div ui-grid="toDayGridOptions" ui-grid-pinning style="position: relative;height:100%;width:100%;"></div>
    </div>
    <div ng-hide="TotalDiv" style="position: relative;height:85%;width:100%;">
      <div ui-grid="TotalGridOptions" ui-grid-pinning style="position: relative;height:100%;width:100%;"></div>
    </div>
    </ion-content>
</ion-view>