  <ion-view> 
   <div class="bar bar-header bar-balanced"> 
    <a class="button icon ion-chevron-left button-clear" 
       ng-hide="backBtn" 
       ui-sref="employeesTable">
    </a>
    <h1 class="title"> 添加员工信息 </h1> 
   </div> 
   <ion-content class="has-header"> 
    <div class="list"> 
   <label class="item item-input"> 
      <span class="input-label fontColor">
      姓名
      </span> 
        <i class="icon ion-ios-arrow-forward"></i> 
          <input type         =  "text" style = "text-align:right; "
                 ng-model     =  "tempVar.userTemp.name" 
                 placeholder  =  "员工名字"/> 
   </label>

   <label class="item item-input"> 
      <span class="input-label fontColor">
      手机号码
      </span> 
        <i class="icon ion-ios-arrow-forward"></i> 
          <input type         =  "number" style = "text-align:right; "
                 ng-model     =  "tempVar.userTemp.tele" 
                 placeholder  =  "员工手机号码"/> 
   </label>

   <label class="item item-input item-select"> 
    <span class="input-label fontColor">角色</span>
      <!-- <img src="img/icon/160913_Img/helpImg.png" height="25" width="25" style="position:absolute;top: 12px; left:100px;" on-tap="openFun()"/> -->
     <i class="icon ion-ios-arrow-forward"></i> 
     <select ng-model="tempVar.userTemp.role" 
             ng-change="JudgeHouse()"  style="position: absolute;right: -2%;top: 0%;width: 40%;height: 100%;text-align: right;border:solid 1px  #fff;color: #000; direction: rtl; -webkit-appearance: none;background:#FFF;"> 
        <option value="">请选择</option> 
        <option value        =  "{{key}}" 
                ng-repeat    =  "(key,val) in myConfig.role" 
                ng-selected  =  "key==tempVar.userTemp.role">
                {{val}}
        </option> 
    </select> 
   </label>

    
      <!-- <div class="item item-button-right">
        <span class="fontColor">提示：点击问号查看角色详细信息。</span>
        <img src="img/icon/160913_Img/helpImg.png" height="25" width="25" style="position:absolute;top: 10px; right:10px;" on-tap="openFun()"/>
      </div> -->


     <div class="list" ng-show="houseAffiliation"> 

      <div class="item item-divider">
        请选择所属栋号 
      </div> 
      
      <ion-checkbox ng-repeat   =  "item in devList"
                    ng-model    =  "item.checked" 
                    ng-checked  =  "item.checked"
                    ng-change   =  "testEEE()">
          {{ item.text }}
        </ion-checkbox>
        
     </div> 
     <br /> 
     <br /> 
     <br />


     <img src="img/icon/160913_Img/helpImg.png" height="25" width="25" style="position:absolute;top: 110px; left:90px;z-index:99;" on-tap="openFun()"/>
      
     <div class="middle"> 
      <a class           =  "button  button-balanced saveBtn" 
         nav-transition  =  "android" 
         ng-click        =  "save()">保   存</a> 
     </div> 
    </div> 
    <br /> 
    <br /> 
    <br /> 
   </ion-content>



  </ion-view>







  <script id="useHelp.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
    <a class="button" ng-click="closeFun()">返回</a>
      <h1 class="title">
        帮助
      </h1>
    </ion-header-bar>
    <ion-content>
      <div style="position: relative; left: 3%; width: 94%;height: 100%;">
        <br>
        <p style="position:relative; top:5px;">角色是和以下软件使用权限绑定的，请谨慎选择：</p>
        <p style="position:relative; top:5px;"><strong>场长/老板</strong>：拥有最高权限，可以使用软件提供的所有录入、查看和设置功能。</p>
        <p style="position:relative; top:5px;"><strong>副场长</strong>：拥有全部的记录和查看功能，可以设置环控报警。</p>
        <p style="position:relative; top:5px;"><strong>技术员</strong>：可录入全场生产记录，可以设置环控报警，但不能查看批次结算和金额相关报告。</p>
        <p style="position:relative; top:5px;"><strong>统计员</strong>：可录入全场生产记录，不能查看批次结算和金额相关报告，没有设置权限。</p>
        <p style="position:relative; top:5px;"><strong>饲养员</strong>：只能录入指定栋舍的生产记录，不能查看批次结算和金额相关报告，没有设置权限。</p>
      </div>
    </ion-content>
  </ion-modal-view>
</script> 