
  <ion-view> 
   <div class="bar bar-header bar-balanced"> 
    <a class="button icon ion-chevron-left button-clear" ng-hide="backBtn" ng-click="backTable()"></a>
    <a class="button button-clear" ng-hide="cancelBtn" ng-click="cancelEvent()">取消</a> 
    <h1 class="title">查看栋舍</h1> 
    <a class="button button-clear" ng-hide="visible" ng-click="startEdit()">编辑</a>
   </div> 
   <ion-content class="has-header"> 
    <form name="myForm">
      <div class="list"> 
       <label class="item item-input"> <span class="input-label fontColor">农场</span> <i class="icon ion-ios-arrow-forward"></i> 
	   <!--
          <p style = "text-align:right; ">{{sparraw_user_temp.farminfo.name}}</p> 
		  -->
	   <input readonly="readonly"  type         =  "text" style = "text-align:right;background-color:white; "
                 ng-model     =  "sparraw_user_temp.farminfo.name" />
				 </label> 
       
       <label class="item item-input"> <span class="input-label fontColor">农汇通设备编号</span> <i class="icon ion-ios-arrow-forward"></i>
        <input  id="updateMtcIdInput" 
                type="text" style = "text-align:right; "
                placeholder  =  "手动输入或条形码扫描"
                ng-model="tempVar.houseTemp.mtc_device_id"/> 
        </label> 
        <label class="item item-input" ng-click="dealBarCode()">
          <a  class = "button button-small button-balanced"  
            style = "width     :  100px      ;
                     height    :  2rem       ;
                     position  :  relative   ; 
                     top       :  0rem       ; 
                     left      :  220px      ;
                     border    :  solid 0px #fff  ;">
            条形码扫描
        </a>
        </label>

       
       <label class="item item-input"> <span class="input-label fontColor">栋编号</span> <i class="icon ion-ios-arrow-forward"></i><!--<p>{{tempVar.houseTemp.houseName}}</p>-->
	   <input readonly="readonly" type         =  "text" style = "text-align:right;background-color:white; "
                 ng-model     =  "tempVar.houseTemp.houseName" />
	   </label> 
       <!-- <div class="item item-divider">
         鸡舍面积
       </div> 
       <label class="item item-input"> <span class="input-label fontColor">内长</span> <i class="icon ion-ios-arrow-forward"></i> <input type="text" ng-model="tempVar.houseTemp.h_length"/> </label> 
       <label class="item item-input"> <span class="input-label fontColor">内宽</span> <i class="icon ion-ios-arrow-forward"></i> <input type="text" ng-model="tempVar.houseTemp.h_width"/> </label> 
       <label class="item item-input"> <span class="input-label fontColor">内高</span> <i class="icon ion-ios-arrow-forward"></i> <input type="text" ng-model="tempVar.houseTemp.h_height"/> </label> 
       <label class="item item-input"> <span class="input-label fontColor">养殖面积</span> <i class="icon ion-ios-arrow-forward"></i> <input type="text" ng-model="tempVar.houseTemp.feedarea"/> </label>
      </div>  -->
      <br />
      <br /> 
      <br />
      
    </form>
    <div style="  background-image:url('img/icon/clear_image.png');
                  position:absolute;
                  margin-left:40%;
                  margin-top:-420px;
                  width:250px;
                  height:340px;
                  z-index:2;"
           ng-hide="sheerDiv"
           ng-click="alert()">
      </div>
    <br /> 
    <div class="middle">  
     <a class="button  button-balanced saveBtn" ng-show="visible" ng-click="saveUpdate()" nav-transition="android">保   存</a> 
    </div>
    <br /> 
    <br /> 
   </ion-content> 
  </ion-view>