<ion-view view-title="dayWaterCurve">
  <div id="mainContent" style="background: #FFF; position: absolute; width: 100%;">
      <div id="main" style = "height:80%;"></div>
             <div style="height: 2.5rem;">
                   <div style="float:left; width:40%;  height: 2.5rem;overflow:hidden; ">
                        <p  style="position: relative; top:5px;left:5%;">
                          筛选
                        </p>
                        <select class="select-style" ng-change = "changeType()" ng-model="chartData.compareType">  
                            <option value="{{key}}" ng-repeat="(key,val) in myConfig.CompareType" ng-selected="key==chartData.compareType">{{val}}</option> 
                        </select> 
                   </div>



                   <div ng-show = "batchDiv" style="float:left;width:30%; height: 2.5rem;overflow:hidden;">
                          <p  style="position: relative; top:5px;left:5%;">
                            请选择
                          </p>
                          <select class="select-style" ng-change = "getChart()" ng-model="chartData.selectedBatch">
                                  <option value        =  "{{key}}"
                                          ng-repeat    =  "(key,val) in chartData.batchList"
                                          ng-selected  =  "key==chartData.selectedBatch">
                                      {{val}}
                                  </option>
                          </select>
                   </div>


                   <div ng-show = "housesDiv" style="float:left;width:30%; height: 2.5rem;overflow:hidden;">
                          <p  style="position: relative; top:5px;left:5%;">
                            请选择
                          </p>
                          <select class="select-style" ng-change = "getChart()" ng-model="chartData.selectedHouse">
                                  <option value        =  "{{item}}"
                                          ng-repeat    =  "item in chartData.houseList"
                                          ng-selected  =  "item == chartData.selectedHouse">
                                      {{item.houseName}}
                                  </option>
                          </select>
                   </div>
              </div>
    </div>
</ion-view>
