<ion-view view-title="eggWeight">
    <div id="mainContent" style="background: #FFF; position: absolute; width: 100%;">
     <div id="main" style = "height:90%;"></div>
     <table style="position: absolute; width: 100%;height: 35px;">
     	<tr>
     		<td style="width: 50%;height: 100%; background: #439AFC; color: #FFF;" id="dayBtn" class="middle" ng-click="chooseType('day')"><p style="position: relative; top: 6px; color: #FFF;" align="center">日龄</p></td>
     		<td style="width: 50%;height: 100%; background: #439AFC; color: #FFF;" id="weekBtn" class="middle" ng-click="chooseType('week')"><p style="position: relative; top: 6px; color: #FFF;" align="center">周龄</p></td>
     	</tr>
     </table>
    </div>
</ion-view>