<ion-view view-title="eggWeigLay">
  <div id="mainContent" style="background: #FFF; position: absolute; width: 100%;">
    <div id="main" style = "height:90%;"></div>
    	<table style="position: relative; left: 1%; width: 98%;height: 30px;" ng-show="false">
          <tr>
            <td ng-click="chooseHouse('01')" id="dateBtn">
              <p style="color: #FFF;position: relative;top: 5px;" align="center">日龄</p>
            </td>
            <td ng-click="chooseHouse('02')" id="weekBtn">
              <p style="color: #FFF;position: relative;top: 5px;" align="center">周龄</p>
            </td>
          </tr>
        </table>
    </div>
</ion-view>
