<ion-view view-title="shock">
    <div id="mainContent" style="background: #FFF; position: absolute; width: 100%;">
    <div id="main" style = "height:80%;"></div>
                 <div style="float:left; width:30%; height: 2.5rem;" ng-show="batchIdDiv">
                   <div style="float:left;width:100%; height: 2.5rem;overflow:hidden;">
                          <p  style="position: relative; top:5px;left:5%;">
                            批次
                          </p>
                          <select class="select-style_temp" ng-model="chartData.selectedBatchId" ng-change="switchCondition('Batch')">
                              <option value        =  "{{key}}"
                                      ng-repeat    =  "(key,val) in chartData.breedIdArray"
                                      ng-selected  =  "key==chartData.selectedBatchId">
                                  {{val}}
                              </option>
                          </select>
                   </div>
                 </div>
                 <div style="width:100%; height: 2.5rem;">
                  <table style="position: relative; left: 1%; width: 98%;height: 30px;">
                    <tr>
                      <td ng-repeat="item in sparraw_user_temp.houseinfos" id="IDis{{item.id}}" ng-click="chooseHouse(item.id)">
                        <p style="color: #FFF;position: relative;top: 5px;" align="center">{{item.houseName}}栋</p>
                      </td>
                    </tr>
                  </table>
                 </div>
                 
  </div>
</ion-view>
